<div>
  <div class="main-div">
    <div class="div-container">
      <div class="card">
        <p-chart
          #chartRef
          type="line"
          [data]="data"
          [options]="options"
        ></p-chart>
      </div>
    </div>
  </div>
  <div class="control-bar">
    <div class="control-buttons">
      <!-- Play button -->
      <p-button
        icon="pi pi-play"
        label="Play"
        (click)="onPlay()"
        class="p-button-success play-btn"
      ></p-button>
  
      <!-- Pause button -->
      <p-button
        icon="pi pi-pause"
        label="Pause"
        (click)="onPause()"
        class="p-button-warning pause-btn"
      ></p-button>
    </div>
  
    <div class="slider-container">
      <!-- Slider -->
      <p-slider
        [(ngModel)]="sliderValue"
        (onChange)="onSliderChange()"
        [min]="controllerParameters.minOutput"
        [max]="controllerParameters.maxOutput"
        [style]="{ width: '200px' }"
      ></p-slider>
  
      <!-- Display the slider value -->
      <span class="slider-value">{{ sliderValue }}</span>
    </div>
  </div>
  
</div>
