<div class="sidebar-div">
  <p-sidebar #sidebarRef [(visible)]="sidebarVisible" (onHide)="onParameterChange()">
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
        <!-- Header da Sidebar -->
        <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
          <span class="inline-flex align-items-center gap-2">
            <img width="50vw" src="logo.jpg" alt="logo" />
            <span class="font-semibold text-xl text-primary">Controlador Genérico</span>
          </span>
          <span>
            <p-button
              type="button"
              (onClick)="closeCallback($event)"
              icon="pi pi-times"
              rounded="true"
              outlined="true"
              styleClass="h-2rem w-2rem"
            ></p-button>
          </span>
        </div>
        <!-- Conteúdo da Sidebar -->
        <div class="main-div overflow-auto p-4" style="max-height: 100%;">
          <p-accordion [multiple]="true">
            <!-- Seção "Sintonia" -->
            <p-accordionTab header="Sintonia">
              <div class="p-fluid p-formgrid p-grid div-container">
                <div class="p-field p-col-12 p-md-4">
                  <label for="Kp">Kp</label>
                  <p-inputNumber
                    [(ngModel)]="controllerParameters.kp"
                    (ngModelChange)="triggerVibration()"
                    [min]="0.0"
                    [step]="0.01"
                    [showButtons]="true"
                    [useGrouping]="false"
                    [mode]="'decimal'"
                  ></p-inputNumber>
                </div>
                <div class="p-field p-col-12 p-md-4">
                  <label for="Ti">Ti</label>
                  <p-inputNumber
                    [(ngModel)]="controllerParameters.ti"
                    (ngModelChange)="triggerVibration()"
                    [min]="0.0"
                    [step]="0.01"
                    [showButtons]="true"
                    [useGrouping]="false"
                    [mode]="'decimal'"
                  ></p-inputNumber>
                </div>
                <div class="p-field p-col-12 p-md-4">
                  <label for="Td">Td</label>
                  <p-inputNumber
                    [(ngModel)]="controllerParameters.td"
                    (ngModelChange)="triggerVibration()"
                    [min]="0.0"
                    [step]="0.01"
                    [showButtons]="true"
                    [useGrouping]="false"
                    [mode]="'decimal'"
                  ></p-inputNumber>
                </div>
              </div>
            </p-accordionTab>

            <!-- Seção "Escala" -->
            <p-accordionTab header="Escala">
              <div class="p-fluid p-formgrid p-grid div-container">
                <div class="p-field p-col-12 p-md-4">
                  <label for="Valor Minimo">Valor Mínimo</label>
                  <p-inputNumber
                    [(ngModel)]="controllerParameters.minOutput"
                    (ngModelChange)="triggerVibration()"
                    [min]="0.0"
                    [step]="0.5"
                    [showButtons]="true"
                    [useGrouping]="false"
                    [mode]="'decimal'"
                  ></p-inputNumber>
                </div>
                <div class="p-field p-col-12 p-md-4">
                  <label for="Valor Maximo">Valor Máximo</label>
                  <p-inputNumber
                    [(ngModel)]="controllerParameters.maxOutput"
                    (ngModelChange)="triggerVibration()"
                    [min]="0.0"
                    [step]="0.5"
                    [showButtons]="true"
                    [useGrouping]="false"
                    [mode]="'decimal'"
                  ></p-inputNumber>
                </div>
              </div>
            </p-accordionTab>

            <!-- Seção "Parâmetros" -->
            <p-accordionTab header="Parâmetros">
              <div class="p-fluid p-formgrid p-grid div-container">
                <div class="p-field p-col-12 p-md-4">
                  <label for="setpoint">Setpoint</label>
                  <p-inputNumber
                    [(ngModel)]="controllerParameters.setPoint"
                    (ngModelChange)="triggerVibration()"
                    [min]="0.0"
                    [step]="0.5"
                    [showButtons]="true"
                    [useGrouping]="false"
                    [mode]="'decimal'"
                  ></p-inputNumber>
                </div>
                <div class="p-field p-col-12 p-md-4">
                  <label for="Tempo de ciclo (ms)">Tempo de ciclo (ms)</label>
                  <p-inputNumber
                    [(ngModel)]="controllerParameters.cycleTime"
                    (ngModelChange)="triggerVibration()"
                    [min]="0"
                    [step]="500"
                    [showButtons]="true"
                    [useGrouping]="false"
                  ></p-inputNumber>
                </div>
                <div class="p-field p-col-12 p-md-4">
                  <label for="acao">Ação</label>
                  <p-selectButton
                    [(ngModel)]="controllerParameters.isDirect"
                    (ngModelChange)="triggerVibration()"
                    [options]="acaoOptions"
                    optionLabel="label"
                    optionValue="value"
                    [multiple]="false"
                  ></p-selectButton>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
  <p-button (onClick)="sidebarVisible = true" icon="pi pi-cog"></p-button>
</div>
