.div-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-div {
  width: 100%;
  height: 100%;
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

::ng-deep{
  .no-type .p-inputnumber-input {
    pointer-events: none; /* Disable typing */
    user-select: none;   /* Prevent text selection */
  }
}

.sidebar-div{
  position: absolute;
}

